<p>
  <b>Street address:</b>
  <%=h @address.street_address %>
</p>

<p>
  <b>City:</b>
  <%=h @address.city %>
</p>

<p>
  <b>State:</b>
  <%=h @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @address.zip %>
</p>

<p>
  <b>Country:</b>
  <%=h @address.country %>
</p>


<%= link_to 'Edit', edit_user_address_path(user, @address) %>